[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
interpreter_python = /home/taha/ansible-python-wrapper.sh
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = True

